body {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
  width: 890px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
}

input[type="text"] {
  width: 665px;
  height: 65px;
  border-radius: 5px;
  border: 0px;
  background-color: #333333;
  color: #d9d9d9;
  padding: 0 10px 0 10px;
  margin: 0px 0px 20px 100px;
}

.calc-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.button {
  margin: 3px;
  width: 126px;
  border: none;
  height: 90px;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: hsla(180, 100%, 40%, 0.3);
  transition: 0.2s;
}

.functions-one {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.functions-two {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.functions-three {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.triggers {
  background-color: #ffc266;
}

.numbers {
  background-color: #999999;
}

.basic-stuff {
  background-color: #80d4ff;
}

.complex-stuff {
  background-color: #80ffff;
}

footer {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 1rem;
}

.end {
    background-color: rgb(51, 130, 152);
    color: rgb(169, 184, 193);
    text-align: center;
    padding: 0.25rem;
    bottom: 0;
}