@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Ubuntu&display=swap');
body {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Ubuntu', sans-serif;
}

.container{
margin: 20px auto 20px;
font-family: 'Heebo', sans-serif;
color: white;
}

.calculator-container{
  text-align: center;
  width: 90%;
  margin: auto;
}
.calculator {
  width: 100%;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto 20px auto;
}

input[type="text"] {
  width: 100%;
  height: 65px;
  border-radius: 5px;
  border: 0px;
  background-color: #333333;
  color: #d9d9d9;
  padding: 0 10px 0 10px;
  
}

.calc-buttons {
  display: inline-block;
  width: auto;
}

.button {
  margin: 3px;
  width: 126px;
  border: none;
  height: 90px;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
}

button:hover {
  background-color: hsla(180, 100%, 40%, 0.3);
  transition: 0.2s;
}

button:nth-child(13) {
  background-color: #dc3545;
}

button:nth-child(13):hover {
  color: white;
}


.functions-one{
  display: inline-block;
}

.functions-two{
  display: inline-block;
  width: 130px;
}

/* 
.functions-three{
  display: block;
  text-align: center;
} */

.triggers {
  background-color: #ffc266;
}

.numbers {
  background-color: #999999;
}

.basic-stuff {
  background-color: #80d4ff;
}

.complex-stuff {
  background-color: #80ffff;
}

footer {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 1rem;
}

.end {
    background-color: rgb(51, 130, 152);
    color: rgb(169, 184, 193);
    text-align: center;
    padding: 0.25rem;
    bottom: 0;
}

.love a{
  text-decoration: none;
  color: white;
  
}

.love a:hover{
  color: yellow;
}

/* Boostrap CSS */

.accordion{
  width: 100%;
  margin: 20px auto 20px;
  text-align: center;
}

.accordion-button{
color: #085078;
}

.accordion-body{
  background-color: beige;
}

.separate-btn{
  display: block;
}

@media only screen and (max-width : 642px) {
  .functions-two {
      display: inline-block;
      width: auto;
    }
}

@media only screen and (max-width : 642px) {
  .separate-btn {
      display: inline;
    }
}

@media only screen and (max-width : 494px) {
  .button {
      margin: 3px;
      width: 100px;
      border: none;
      height: 90px;
      border-radius: 8px;
      color: #000000;
      cursor: pointer;
    }
}

@media only screen and (max-width : 405px) {
  .button {
    margin: 3px;
    width: 80px;
    border: none;
    height: 80px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
  }
}

@media only screen and (max-width : 340px) {
  .button {
    margin: 3px;
    width: 70px;
    border: none;
    height: 70px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
  }
}

@media only screen and (max-width : 306px) {
  .button {
    margin: 3px;
    width: 60px;
    border: none;
    height: 65px;
    border-radius: 8px;
    color: #000000;
    cursor: pointer;
  }
}