@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');
body {
  background: #085078; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #85d8ce,
    #085078
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Ubuntu', sans-serif;
  /* hide Scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin:0;
}
/* hide scrollbar */
body::-webkit-scrollbar {
  display: none;
}


.container{
margin: 20px auto 20px;
font-family: 'Heebo', sans-serif;
color: white;
}

.calculator-container{
  text-align: center;
  /* width: 90%; */
  /* margin: auto; */
}
.calculator {
  width: 80%;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  margin: 20px auto 20px auto;
}

input[type="text"] {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: 0px;
  background-color: #333333;
  box-shadow: 4px 4px 30px #656060;
  color: #d9d9d9;
  /* padding: 0 10px 0 10px; */
  font-size: x-large;
  padding: 20px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}

.calc-buttons {
  display: inline-block;
  width: auto;
}

.button {
  margin: 3px;
  width: 108px;
  border: none;
  height: 80px;
  border-radius: 8px;
  color: #000000;
  cursor: pointer;
  /* box-shadow: 2px 2px 40px #df6672; */
}

button:hover {
  background-color: hsla(180, 100%, 40%, 0.3);
  transition: 0.2s;
}

button:nth-child(13) {
  background-color: #dc3545;
  box-shadow: 2px 2px 40px #6d5255;
}

button:nth-child(13):hover {
  color: white;
}


.functions-one{
  display: inline-block;
}

.functions-two{
  display: inline-block;
}

.padding-functions{
  display: inline-block;
  width: 40px;
  background-color: red;
}

.more-toggle-btn{
  height: 60px;
  background-color: #085078;
  color: white;
  font-size: large;
  border-radius: 23px;
}

.more-toggle-btn:hover{
  color: #000000;
  cursor: pointer;
}
.other-functions{
  margin: 20px;
  text-align: center;
}



.triggers {
  background-color: #ffc266;
  box-shadow: 2px 2px 60px #958c80;
  width: 60%;
}

.numbers {
  background-color: #999999;
  box-shadow: 2px 2px 60px #7d7373;
}

.basic-stuff {
  background-color: #80d4ff;
  box-shadow: 2px 2px 60px #95a1a7;
}

.complex-stuff {
  background-color: #80ffff;
  box-shadow: 2px 2px 60px #838f95;
}

footer {
  background-color: black;
  color: grey;
  text-align: center;
  padding: 1rem;
}

.end {
    background-color: rgb(51, 130, 152);
    color: rgb(169, 184, 193);
    text-align: center;
    padding: 0.25rem;
    bottom: 0;
}

.love a{
  text-decoration: none;
  color: white;
  
}

.love a:hover{
  color: yellow;
}


.separate-btn{
  display: block;
}


#calc-style{
  font-family: 'IM Fell Great Primer SC', serif;
}

/* Lots of media query for best responsiveness from a PC to a 2g phone :) */

@media only screen and (max-width : 1089px) {
  .padding-functions{
    width: 0px;
  }
}

@media only screen and (max-width : 529px) {
  .button{
  width: 100px;
  height: 100px;
  }
}

@media only screen and (max-width : 426px) {
  .button {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width : 352px) {
  .button {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width : 312px) {
  .button {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width : 275px) {
  .button {
    width: 50px;
    height: 50px;
  }
}